@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

body{
    background: var(--bunker);
    font-family: 'Roboto', sans-serif;
    color: var(--white);
}

.wrapper-head{
    min-height: 65px;
    width: 100%;
    background: var(--shark);
    .header-row{
        width: 100%
    }
    .header{
        padding: 0px 21px 0px 18px;
        @include media-breakpoint-down(lg){
            padding: 20px;
        }
        h1{
            font: 900 18px/20px 'Roboto', sans-serif;
            text-transform: uppercase;
            letter-spacing: 6px;
            padding-top: 7px;
            @include media-breakpoint-down(md){
                display: block;
            }
            a{
                color: var(--white);
                text-decoration: none;
                transition: .2s;
                &:hover{
                    color: var(--thunderbird);
                    transition: .2s;
                }
            }
        }
        .registr{
            @include media-breakpoint-down(lg){
                padding-left: 20px;
            }
            form{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
            }
            .searcing-form{
                @include media-breakpoint-down(lg){
                    display: flex;
                    flex-wrap: nowrap;
                }
                // display: flex;
                // flex-wrap: nowrap;
            }
            label{
                @include media-breakpoint-down(lg){
                    display: flex;
                }
            }
            input[type=text]{
                background: var(--transparent);
                width: 0px;
                border: none;
                height: 34px;
                color: var(--ountainMist);
                font: 500 16px/19px 'Roboto', sans-serif;
                position: relative;
                transition: .4s;
                padding: 0px;
                margin-right: 50px;
                @include media-breakpoint-down(lg){
                    border: solid 1px var(--doveGray);
                    width: 100%;
                    transition: .6s;
                    padding: 0px 37px;
                    outline: var(--doveGray);
                    border-radius: 5px;
                    margin-bottom: 15px;
                }
                &:focus{
                    border: solid 1px var(--doveGray);
                    width: 667px;
                    transition: .6s;
                    padding: 0px 37px;
                    outline:var(--doveGray);
                    border-radius: 5px;
                    @include media-breakpoint-down(xxl){
                        width: 600px;
                    }
                    @include media-breakpoint-down(xl){
                        width: 350px;
                    }
                    @include media-breakpoint-down(lg){
                        width: 100%;
                        display: block;
                        // margin-right: 0px;
                    }
                }
                &:focus ~ .reset:before{
                    display: block;
                }
            }
            button.reset{
                background: var(--transparent);
                position: absolute;
                width: 0px;
                height: 0px;
                border: none;
                outline: none;
                @include media-breakpoint-down(lg){
                    position: relative;
                    
                }
                &:before{
                    content: "\e900";
                    top: 7px;
                    left: -76px;
                    font-size: 20px;
                    color: var(--ountainMist);
                    position: absolute;
                    display: none;
                    @include media-breakpoint-down(lg){
                        display: block;
                        
                    }
                }
            }
            
            .searching-mark{
                position: relative;
                &:before{
                    position: absolute;
                    content: "\e906";
                    top: -20px;
                    left: 6px;
                    color: var(--white);
                    font-size: 31px;
                    display: block;
                    cursor: pointer;
                    @include media-breakpoint-down(lg){
                        top: 2px;
                        left: 7px;
                    }
                }
            }
            .two_btn{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                @include media-breakpoint-down(md){
                    justify-content: center;
                    width: 100%;
                }
                // .subscribe{
                //     background: var(--thunderbird);
                //     color: var(--white);
                //     font: 500 16px/19px 'Roboto', sans-serif;
                //     min-width: 165px;
                //     height: 35px;
                //     border-radius: 5px;
                //     border: none;
                //     transition: .2s;
                //     padding: 0px 5px;
                //     // margin-left: 50px;
                //     @include media-breakpoint-down(md){
                //         margin-left: 0px;
                //         width: 40%;
                //     }
                //     @include media-breakpoint-down(sm){
                //         width: 100%;
                //         margin-bottom: 5px;
                //     }
                //     &:hover{
                //         background: var(--tamarillo);
                //         transition: .2s;
                //     }
                //     &:active{
                //         background: var(--tamarilloDark);
                //         transition: 0s;
                //     }
                // }
                // .enter{
                //     background: var(--transparent);
                //     border: none;
                //     color: var(--white);
                //     text-transform: uppercase;
                //     font: 500 16px/19px 'Roboto', sans-serif;
                //     padding: 0px 0px 0px 0px;
                //     height: 35px;
                //     transition: .2s;
                //     margin-left: 30px;
                //     @include media-breakpoint-down(md){
                //         margin-left: 0px;
                //         width: 40%;
                //     }
                //     @include media-breakpoint-down(sm){
                //         width: 100%;
                //     }
                //     &:hover{
                //         color: var(--thunderbird);
                //         transition: .2s;
                //     }
                //     &:active{
                //         color: var(--doveGray);
                //         transition: .0s;
                //     }
                // }
                .popUp_subscribe{
                    input[type="checkbox"]{
                        position: absolute;
                        margin-left: -9999px;
                    }
                    input[type="checkbox"]:checked ~ .bg{
                        display: block;
                    }
                    span{
                        display: inline-block;
                        text-align: center;
                        cursor: pointer;
                        background: var(--thunderbird);
                        color: var(--white);
                        font: 500 16px/35px 'Roboto', sans-serif;
                        min-width: 165px;
                        min-height: 35px;
                        border-radius: 5px;
                        border: none;
                        transition: .2s;
                        padding: 0px 5px;
                        // margin-left: 50px;
                        @include media-breakpoint-down(md){
                            margin-left: 0px;
                            // width: 40%;
                        }
                        @include media-breakpoint-down(sm){
                            width: 100%;
                            // text-align: center;
                            margin-bottom: 5px;
                        }
                        &:hover{
                            background: var(--tamarillo);
                            transition: .2s;
                        }
                        &:active{
                            background: var(--tamarilloDark);
                            transition: 0s;
                        }
                    }
                    .bg{
                        width: 100%;
                        height: 100%;
                        background: var(--bunkerOpacity);
                        position: absolute;
                        z-index: 1;
                        left: 0px;
                        top: 0px;
                        display: none;
                        
                        // margin: 0 auto;
                        .wrapper_popUp{
                            width: 400px;
                            // height: 580px;
                            border-radius: 5px;
                            background: var(--white);
                            margin: 10% auto;
                            padding-bottom: 20px;
                            .close_popUp{
                                padding: 11px 8px 20px 8px;
                                text-align: right;
                                button{
                                    position: absolute;
                                    background: var(--transparent);
                                    border: none;
                                    // outline:
                                    &:before{
                                        content: "\e900";
                                        position: absolute;
                                        top: 0px;
                                        right: 8px;
                                        font-size: 20px;
                                        color: black;
                                    }
                                    &:hover::before{
                                        color: var(--thunderbird);
                                    }
                                }
                            }
                            .header_popUp{
                                margin: 0px 40px 40px 40px;
                                border-bottom: solid 1px var(--thunderbird);
                                display: flex;
                                justify-content: space-between;
                                padding: 20px 0px 15px;
                                a:first-child{
                                    color: var(--bunker);
                                    font: 700 30px/20px 'Roboto', sans-serif;
                                    text-decoration: none;
                                }
                                a:last-child{
                                    color: var(--thunderbird);
                                    font: 700 20px/20px 'Roboto', sans-serif;
                                    text-decoration: none;
                                    &:hover{
                                        color: var(--tamarillo);
                                    }
                                }
                            }
                            .inform{
                                padding: 0px 40px 20px 40px;
                                input{
                                    width: 100%;
                                    border-radius: 5px;
                                    outline: none;
                                    border: solid 1px var(--ountainMist);
                                    height: 45px;
                                    padding: 0px 15px;
                                    margin: 0px 0px 10px;
                                    &::placeholder{
                                        font: 500 14px/20px 'Roboto', sans-serif;
                                        color: var(--ountainMist);
                                    }
                                    &:focus{
                                        border-color: var(--thunderbird);
                                    }
                                }
                                input[type="password"]{
                                    margin-bottom: 15px;
                                    &::-ms-reveal:active{
                                        color: var(--thunderbird);
                                    }
                                }
                                p{
                                    font: 500 12px/18px 'Roboto', sans-serif;
                                    color: var(--bunker);
                                    padding-bottom: 35px;
                                    a{
                                        color: var(--thunderbird);
                                        text-decoration: none;
                                    }
                                }
                                button[type="submit"]{
                                    width: 100%;
                                    background: var(--thunderbird);
                                    border-radius: 5px;
                                    border: none;
                                    color: var(--white);
                                    height: 50px;
                                    &:hover{
                                        background: var(--tamarillo);
                                    }
                                }
                            }
                        }
                    }
                }




                .popUp_enter{
                    & > input[type="checkbox"]{
                        position: absolute;
                        margin-left: -9999px;
                    }
                    input[type="checkbox"]:checked ~ .bg{
                        display: block;
                    }
                    span{
                        display: inline-block;
                        text-align: center;
                        cursor: pointer;
                        background: var(--transparent);
                        border: none;
                        color: var(--white);
                        text-transform: uppercase;
                        font: 500 16px/35px 'Roboto', sans-serif;
                        padding: 0px 0px 0px 0px;
                        height: 35px;
                        transition: .2s;
                        margin-left: 30px;
                        @include media-breakpoint-down(md){
                            // margin-left: 0px;
                            width: 40%;
                        }
                        @include media-breakpoint-down(sm){
                            width: 100%;
                        }
                        &:hover{
                            color: var(--thunderbird);
                            transition: .2s;
                        }
                        &:active{
                            color: var(--doveGray);
                            transition: .0s;
                        }
                    }
                    .bg{
                        width: 100vw;
                        height: 100vh;
                        background: var(--bunkerOpacity);
                        position: absolute;
                        z-index: 1;
                        left: 0px;
                        top: 0px;
                        display: none;
                        // margin: 0 auto;
                        .wrapper_popUp{
                            width: 400px;
                            // height: 580px;
                            border-radius: 5px;
                            background: var(--white);
                            margin: 10% auto;
                            padding-bottom: 20px;
                            .close_popUp{
                                padding: 11px 8px 20px 8px;
                                text-align: right;
                                button{
                                    position: absolute;
                                    background: var(--transparent);
                                    border: none;
                                    // outline:
                                    &:before{
                                        content: "\e900";
                                        position: absolute;
                                        top: 0px;
                                        right: 8px;
                                        font-size: 20px;
                                        color: black;
                                    }
                                    &:hover::before{
                                        color: var(--thunderbird);
                                    }
                                }
                            }
                            .header_popUp{
                                margin: 0px 40px 40px 40px;
                                border-bottom: solid 1px var(--thunderbird);
                                display: flex;
                                justify-content: space-between;
                                padding: 20px 0px 15px;
                                a:first-child{
                                    color: var(--bunker);
                                    font: 700 30px/20px 'Roboto', sans-serif;
                                    text-decoration: none;
                                }
                                a:last-child{
                                    color: var(--thunderbird);
                                    font: 700 20px/20px 'Roboto', sans-serif;
                                    text-decoration: none;
                                    &:hover{
                                        color: var(--tamarillo);
                                    }
                                }
                            }
                            .inform{
                                padding: 0px 40px 20px 40px;
                                input[type="text"], input[type="password"]{
                                    width: 100%;
                                    border-radius: 5px;
                                    outline: none;
                                    border: solid 1px var(--ountainMist);
                                    height: 45px;
                                    padding: 0px 15px;
                                    margin: 0px 0px 10px;
                                    &::placeholder{
                                        font: 500 14px/20px 'Roboto', sans-serif;
                                        color: var(--ountainMist);
                                    }
                                    &:focus{
                                        border-color: var(--thunderbird);
                                    }
                                }
                                input[type="password"]{
                                    margin-bottom: 15px;
                                }
                                p{
                                    font: 500 12px/18px 'Roboto', sans-serif;
                                    color: var(--bunker);
                                    padding-bottom: 35px;
                                    a{
                                        color: var(--thunderbird);
                                        text-decoration: none;
                                    }
                                }
                                button[type="submit"]{
                                    width: 100%;
                                    background: var(--thunderbird);
                                    border-radius: 5px;
                                    border: none;
                                    color: var(--white);
                                    height: 50px;
                                    &:hover{
                                        background: var(--tamarillo);
                                    }
                                }
                                .check{
                                    display: flex;
                                    justify-content: space-between;
                                    width: 100%;
                                    padding-bottom: 20px;
                                    .container-for-checkbox{
                                        label{
                                            display: flex;
                                            flex-direction: row-reverse;
                                            input[type="checkbox"]{
                                                position: absolute;
                                                margin-right: 9999px;
                                            }
                                        }
                                        p{
                                            font: 500 14px/20px 'Roboto', sans-serif;
                                            color: var(--bunker);
                                            cursor: pointer;
                                            padding:  0px 0px 0px 5px;
                                            margin: 0px;
                                        }
                                        .custom-checkbox {
                                            width: 20px;
                                            height: 20px;
                                            position: relative;
                                            margin: 0px;
                                            border-radius: 3px;
                                            border: solid 1px var(--doveGray);
                                            // background: var(--thunderbird);
                                        }
                                        input[type="checkbox"]:checked + span.custom-checkbox:before {
                                            content: "\e904";
                                            width: 20px;
                                            height: 20px;
                                            color: var(--white);
                                            font-size: 20px;
                                            top: calc(50% - 10px);
                                            left: calc(50% - 10px);
                                            position: absolute;
                                            background: var(--thunderbird);
                                            border-radius: 3px;
                                        }
                                    }
                                    a{
                                        font: 500 14px/20px 'Roboto', sans-serif;
                                        color: var(--bunker);
                                        // padding-bottom: 3px;
                                        text-decoration: none;
                                        border-bottom: solid 1px var(--doveGray);
                                        &:hover{
                                            border-bottom: solid 1px var(--thunderbird);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// catalog page start

.sorting{
    padding: 56px 0px 0px 5px;
    width: 100%;
    ul{
        display: flex;
        align-items: baseline;
        padding: 0px;
        width: 100%;
        @include media-breakpoint-down(lg){
            justify-content: center;
            flex-grow: 1;
        }
        li.active{
            list-style: none;
            padding-right: 15px;
            button{
                border: solid 1px var(--thunderbird);
                background: var(--thunderbird);
                min-width: 103px;
                font: 500 15px/18px 'Roboto', sans-serif;
                color: var(--white);
                padding: 9px 9px;
                border-radius: 5px;
            }
        }
        li:not(.active){
            list-style: none;
            padding-right: 15px;
            margin-bottom: 14px;
            
            button:not(button[type=reset]){
                min-width: 103px;
                font: 500 15px/18px 'Roboto', sans-serif;
                color: var(--white);
                padding: 9px 9px; 
                background: var(--transparent);
                border: solid 1px var(--doveGray);
                border-radius: 5px;
                transition: .2s;
                &:hover{
                    background: var(--sharkLighter);
                    transition: .2s;
                }
                &:active{
                    background: var(--thunderbird);
                    transition: 0s;
                    border: solid 1px var(--thunderbird);
                }
                
            }
            button[type=reset]{
                font: 500 15px/18px 'Roboto', sans-serif;
                color: var(--white);
                background: var(--transparent);
                border: none;
                transition: .2s;
                @include media-breakpoint-down(md){
                    min-width: 103px;
                    border: solid 1px var(--transparent);
                }
                &:hover{
                    color: var(--thunderbird);
                    transition: .2s;
                }
                &:active{
                    color: var(--doveGray);
                    transition: .0s;
                }
            }
        }
    }
}
.content{
    width: 100%;
    @include media-breakpoint-down(md){
        text-align: center;
        margin: 0;
        padding: 0px 20px;
    }
    .video-block{
        overflow: hidden;
        padding: 0px 0px 47px 18px;
        @include media-breakpoint-down(md){
            padding: 25px 0px;
        }
        a{
            text-decoration: none;
            color: var(--white);
            display: block;
            strong{
                font: 500 20px/20px 'Roboto', sans-serif;
                
            }
        }
        
        .video{
            max-width: 381px;
            min-height: 292px;
            border-radius: 5px; 
            margin-bottom: 24px;
            position: relative;
            @include media-breakpoint-down(xl){
                max-width: 100%;
            }
            &:hover .info{
                display: flex;
                align-items: flex-end;
            }
            img{
                min-width: 381px;
                max-height: 292px;
                object-fit: cover;
                border-radius: 5px;
                margin: 0px;
                @include media-breakpoint-down(xl){
                    min-width: 100%;
                }
            }
            .info{
                position: absolute;
                top: 0px;
                left: 0px;
                background: var(--bunkerOpacity);
                min-height: 292px;
                padding: 15px;
                padding: 12px 15px;
                display: none;
                &:before{
                    content: "\e901";
                    position: absolute;
                    top: calc(50% - 42px);
                    left: calc(50% - 38px);
                    font-size: 76px;
                    color: var(--white);
                }
                p{
                    font: 400 16px/22px 'Roboto', sans-serif;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
            }
        }
    }
}

// catalog page finisf

// player page start
.player_content{
    @include media-breakpoint-down(xl){
        margin: auto;
    }
    .link_back_to_catalog{
        padding: 0px 0px 0px 35px;
        min-height: 80px;
        a{
            font: 500 15px/18px 'Roboto', sans-serif;
            text-decoration: none;
            color: var(--whiteOpacity);
            &:hover{
                color: var(--white);
            }
            &:hover .arrow_back_to_catalog:before{
                color: var(--white);
            }
            .arrow_back_to_catalog{
                position: relative;
                &:before{
                    content: "\e903";
                    position: absolute;
                    font-size: 21px;
                    color: var(--whiteOpacity);
                    top: -2px;
                    left: -29px;
                    display: block;
                }
            }
        }
    }
    .wrapper_block_of_video{
        min-height: 455px;
        margin: 0px 0px 54px;
        @include media-breakpoint-down(sm){
            width: 100%;
        }
        .block_of_video{
            padding: 0px;
            a{
                display: inline-block;
            }
            .preview_video{
                margin-left: 6px;
                max-width: 698px;
                max-height: 455px;
                overflow: hidden;
                border-radius: 5px;
                position: relative;
                @include media-breakpoint-down(sm){
                    margin: 0px;
                }
                img{
                    max-width: 698px;
                    object-fit: cover;
                }
                &:before{
                    content: "\e901";
                    position: absolute;
                    font-size: 116px;
                    color: var(--white);
                    top: calc(50% - 58px);
                    left: calc(50% - 51px);
                    display: block;
                    transition: .4s;
                }
                &:hover::before{
                    color: var(--thunderbird);
                    transition: .2s;
                }
                &:hover:active:before{
                    color: var(--alto);
                }
            }
        }
    }
    .video_info{
        padding: 19px 0px 19px 24px;
        @include media-breakpoint-down(lg){
            padding: 20px 10px;
        }
        h2{
            font: 700 35px/41px 'Roboto', sans-serif;
            word-spacing: -1px;
            margin: 0px;
        }
        p{
            font: 400 italic 16px/25px 'Roboto', sans-serif;
            word-spacing: -1px;
            max-width: 455px;
            @include media-breakpoint-down(lg){
                max-width: 100%;  
                padding-bottom: 10px;
            }
        }
        .due_personal{
            p{
                font-style: normal;
                line-height: 16px;
                
            }
            span{
                font-weight: 500;  
            }
        }
        .btn_payment{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            @include media-breakpoint-down(sm){
                flex-direction: column;
            }
            button{
                width: 225px;
                height: 55px;
                border-radius: 5px;
                background: var(--transparent);
                border: solid 1px var(--white);
                color: var(--white);
                font: 500 16px/19px 'Roboto', sans-serif;
                transition: .2s;
                @include media-breakpoint-down(xxl){
                    width: 45%;
                }
                @include media-breakpoint-down(sm){
                    width: 100%;
                    margin-bottom: 10px;
                }
                &:hover:first-child{
                    background: var(--sharkLighter);
                    transition: .2s;
                }
                &:last-child{
                    background: var(--thunderbird);
                    border: solid 1px var(--thunderbird);
                }
                &:hover:last-child{
                    background: var(--tamarillo);
                    transition: .2s;
                }
            }
        }
    }
    .description_of_video{
        width: 100%;
        padding-bottom: 59px;
        @include media-breakpoint-down(lg){
            padding: 0px 10px;
        }
        @include media-breakpoint-down(sm){
            padding: 0px 10px 30px;
        }
        .description{
            padding: 0px 0px 0px 18px;
        }
        .genre{
            padding: 0px 0px 0px 39px;
            @include media-breakpoint-down(xl){
                padding-left: 18px;
            }
        }
        .duration{
            padding: 0px 0px 0px 14px;
            @include media-breakpoint-down(xl){
                padding-left: 18px;
            }
        }
        .cast{
            padding: 0px 0px 0px 19px;
            @include media-breakpoint-down(xl){
                padding-left: 18px;
            }
        }
        strong{
            font: 700 16px/20px 'Roboto', sans-serif;
            text-transform: uppercase;
            display: inline-block;
            padding-bottom: 15px;
        }
        p{
            font: 400 16px/22px 'Roboto', sans-serif;
            
            @include media-breakpoint-down(xl){
                max-width: 100%;
                padding-bottom: 15px;
            }
        }
        ul{
            padding: 0px;
            list-style: none;
            min-width: 200px;
            li{
                p{
                    margin: 0px;
                    @include media-breakpoint-down(xl){
                        padding: 0px;
                    }
                }
            }
        }
        .full_info_description{
            position: relative;
            p{
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }
        .over{
            position: relative;
            margin-top: -24px;
            @include media-breakpoint-down(xl){
                margin-bottom: 60px;
            }
            input{
                position: absolute;
                margin-left: -9999px;
                width: 0px;
                height: 0px;
            }
            span{
                position: relative;
                cursor: pointer;
                position: absolute;
                bottom: -42px;
                // @include media-breakpoint-down(xl){
                //     bottom: -22px;
                // }
                &:last-child{
                    display: none;
                }
            }
            input:checked ~ .full_info_description > p{
                display: contents;
            }
            input:checked + label span:last-child{
                display: block;
            }
            input:checked + label span:first-child{
                display: none;
            }
        }
    }
    .propose_to_watching{
        padding: 0px 0px 20px 7px;
        width: 100%;
        margin: 0px;
        // @include media-breakpoint-down(md){
        //     display: none;
        // }
        h2{
            font: 500 25px/20px 'Roboto', sans-serif;
            margin: 0px;
            padding: 0px 0px 39px 11px;
        }
        a{
            text-decoration: none;
            p{
                font: 700 18px/20px 'Roboto', sans-serif;
                color: var(--white);
                letter-spacing: 1px;
            } 
            .wrapper_slide_propose{
                max-height: 215px;
                max-width: 282px;
                display: block;
                margin-bottom: 20px;
                img{
                    min-width: 282px;
                    max-height: 215px;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
        }
    }
}