:root{
    --white: #fff;
    --bunker: #11161C;
    --bunkerOpacity: rgba(17, 22, 28, .75);
    --shark: #191E23;
    --sharkLighter: #262B30;
    --ountainMist: #A9A8AA;
    --doveGray: #727272;
    --thunderbird: #B91A14;
    --tamarillo: #9A1712;
    --tamarilloDark: #891612;
    --transparent: transparent;
    --alto: #D0D0D0;
    
}