.sorting {
  padding: 0px 0px 0px 5px;
  width: 100%;
}

.sorting ul {
  display: flex;
  align-items: baseline;
  padding: 0px;
  width: 100%;
}

@media (max-width: 991.98px) {
  .sorting ul {
    justify-content: center;
    flex-grow: 1;
  }
}

.sorting ul li.active {
  list-style: none;
  padding-right: 15px;
}

.sorting ul li.active button {
  border: solid 1px var(--thunderbird);
  background: var(--thunderbird);
  min-width: 103px;
  font: 500 15px/18px 'Roboto', sans-serif;
  color: var(--white);
  padding: 9px 0px;
  border-radius: 5px;
}

.sorting ul li:not(.active) {
  list-style: none;
  padding-right: 15px;
  margin-bottom: 14px;
}

.sorting ul li:not(.active) button:not(button[type=reset]) {
  min-width: 103px;
  font: 500 15px/18px 'Roboto', sans-serif;
  color: var(--white);
  padding: 9px 0px;
  background: var(--transparent);
  border: solid 1px var(--doveGray);
  border-radius: 5px;
  transition: .2s;
}

.sorting ul li:not(.active) button:not(button[type=reset]):hover {
  background: var(--sharkLighter);
  transition: .2s;
}

.sorting ul li:not(.active) button:not(button[type=reset]):active {
  background: var(--thunderbird);
  transition: 0s;
  border: solid 1px var(--thunderbird);
}

.sorting ul li:not(.active) button[type=reset] {
  font: 500 15px/18px 'Roboto', sans-serif;
  color: var(--white);
  background: var(--transparent);
  border: none;
  transition: .2s;
}

@media (max-width: 767.98px) {
  .sorting ul li:not(.active) button[type=reset] {
    min-width: 103px;
    border: solid 1px var(--transparent);
  }
}

.sorting ul li:not(.active) button[type=reset]:hover {
  color: var(--thunderbird);
  transition: .2s;
}

.sorting ul li:not(.active) button[type=reset]:active {
  color: var(--doveGray);
  transition: .0s;
}
