.sorting {
  padding: 56px 0px 0px 5px;
  width: 100%;
}

.wrap {
  display: flex;
  align-items: baseline;
  padding: 0px;
  width: 100%;
}

@media (max-width: 991.98px) {
  .wrap {
    justify-content: center;
    flex-grow: 1;
  }
}

.item {
  list-style: none;
  padding-right: 15px;
  margin-bottom: 14px;
}
