.input {
  border-radius: 5px;
  outline: none;
  border: solid 1px var(--ountainMist);
  height: 45px;
  padding: 0px 15px;
  margin: 0px 0px 10px;
  transition: border-color 300ms;
}

.fill {
  width: 100%;
}

.input::placeholder {
  font: 500 14px/20px 'Roboto', sans-serif;
  color: var(--ountainMist);
}

.input:focus {
  border-color: var(--thunderbird);
}

.input[type="password"]::-ms-reveal:active {
  color: var(--thunderbird);
}
