.header {
  margin-bottom: 40px;
  border-bottom: solid 1px var(--thunderbird);
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 15px;
}

.title {
  color: var(--bunker);
  font: 700 30px/20px 'Roboto', sans-serif;
  text-decoration: none;
}

.type {
  color: var(--thunderbird);
  font: 700 20px/20px 'Roboto', sans-serif;
  text-decoration: none;
}

.type:hover {
  color: var(--tamarillo);
}

.inform {
  padding-bottom: 20px;
}
