@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
  font-family: 'icomoon';
  src: url('./assets/fonts/icomoon.woff?ygun4s') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html {
  scroll-behavior: smooth;
}

[class^="icon-"], [class*=" icon-"],
.searching-mark:before,
.reset-mark:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e906";
}

body {
  background: var(--bunker);
  font-family: 'Roboto', sans-serif;
  color: var(--white);
}
