.inputLast {
  margin-bottom: 15px;
}

.check {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

.forget {
  font: 500 14px/20px 'Roboto', sans-serif;
  color: var(--bunker);
  text-decoration: none;
  border-bottom: solid 1px var(--doveGray);
}

.forget:hover {
  color: var(--bunker);
  text-decoration: none;
  border-bottom: solid 1px var(--thunderbird);
}
