.button {
  color: var(--white);
  background: var(--transparent);
  border: none;
  transition: .2s;
}

.button:hover {
  color: var(--thunderbird);
}

.button:active {
  color: var(--alto);
}

.icon {
  width: 76px;
  height: 76px;
  /*font-size: 76px;*/
  /*color: var(--white);*/
}
